<div id="media_provider_box">
  <div id="media_box">
    <form>
      <input id="link_input" placeholder="link" name="link" type="text" ng-change="search_link(link_value)" ng-model="link_value" ng-model-options="{ updateOn: 'blur' }"/>
      <input id="search_input" placeholder="search" name="link" type="text" ng-change="search_query(query_value)" ng-model="query_value" ng-model-options="{ updateOn: 'blur' }"/>
      <input type="submit" hidden>
    </form>
  </div>

  <div id="links_box">
    <div class="link_results" ng-repeat="(source, tags) in link_results">
      <!--<h3>{{source}} results</h3>-->
      <div class="link_result" ng-repeat="(key, tag) in tags">
        <img src="{{tag.preview}}" ng-click="embed_item(source, key)">
      </div>
    </div>
  </div>

  <div id="embed_box">

  </div>
</div>

